<div class="grid grid-cols-2 h-screen">
    <div class="px-20 pt-24">
        <h1 class="ml-24 text-2xl">About Us:</h1>
        <p class="mt-6 ml-10 text-justify">
            Sketchup is a great web platform whose objetive is to help artists in their creative processes through a sketches repository
            which... 
            <b>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione harum placeat inventore libero debitis veritatis doloremque nulla temporibus at laudantium atque esse quia, quis delectus unde, blanditiis facere repudiandae? Sequi.
            </b>
        </p>
    </div>
    <div class="bg-orange-200 pt-24 px-20">
        <h2 class="ml-24 text-2xl">Sponsors</h2>
        <ul class="mt-6 ml-10 [&>*]:text-xl [&>*]:py-4 [&>*]:flex [&>*]:flex-row [&>*>*]:w-8 [&>*>*]:mr-2">
            <li><img [src]="facebook_image" alt="facebook icon">Facebook</li>
            <li><img [src]="tesla_image" alt="tesla icon">Tesla</li>    
            <li><img [src]="pinterest_image" alt="pinterest icon">Pinterest</li>
            <li><img [src]="google_image" alt="google icon">Google</li>
        </ul>
    </div>
</div>
