<nav *ngIf="showNavbar" class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="grid grid-cols-3 justify-between py-3 px-4 [&>*]:flex [&>*]:flex-row [&>*]:items-center">

    <div>
      <a [routerLink]="['/']" class="flex flex-row items-center">
        <img class="w-12 mr-4" [src]="logo_image" alt="logo: esboço de rosto">
        <span class="text-xl">SketchUp</span>
      </a>
    </div>

    <div class="border border-solid border-gray-600 rounded-3xl h-min px-6 py-2">
      <form action="" class="w-full max-w-md">
        <div class="relative flex items-center">
          <fa-icon class="w-5 absolute pointer-events-none" [icon]="search_icon"></fa-icon>
          <input type="text" name="search" id="search" placeholder="Search users" autocomplete="off" 
          class="pr-3 pl-10 w-full outline-none">
        </div>
      </form>
    </div>

    <div class="justify-self-end">
      <a [routerLink]="['Signs/sign-in']" class="mr-10 border border-solid border-black px-4 py-2 rounded">Sign In</a>
      <a [routerLink]="['Signs/sign-up']" class="mr-2 bg-gray-900 px-4 py-2 rounded text-white border border-gray-900">Sign Up</a>
    </div>

  </div>
</nav>
  